body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
  }
  .projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
  }
  #projects-plot {
    max-width: 20em;
    margin-block: 2em;
    overflow: visible;
  }
  .container{
    display: grid;
    flex: 1;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding-bottom: 1.5em;
  }
  .legend{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    border-style: solid;
    border-color: gray;
    gap: 1em;
    padding: 1em;
  }
  .legend li{
    display: flex;
    gap: 0.7em;
  }
  .swatch{
    width: 30px;
    height: 30px;
    aspect-ratio: 1 / 1;
    background-color: var(--color);
    border-radius: 50%;
  }
  .searchBar{
    height: 50px;
    font-size: 20px;
    text-align: left;
    padding: 1em;
    grid-column: 1 / -1;
  }
  &:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
  }
  path{
    transition: 300ms;
    cursor: pointer;
  }
  .selected {
    --color: oklch(70% 70% 335) !important;
  
    &:is(path) {
      fill: var(--color);
    }
  }

  .year{
    font-family: cursive;
    font-variant-numeric: oldstyle-nums;
    color: gray;
  }
  h1,h2,h3,h4,h5,h6{
    line-height: 1.1;
    text-wrap: balance;
  }
  h1{
    font-size: 400%;
  }
  h2{
    margin: 0;
  }
  :root{
    --pink: oklch(65% 50% 0);
  }
  html{
    accent-color: var(--pink);
    color-scheme: dark;
  }
  nav{
    display: flex;
    --border-color: oklch(50% 10% 200 / 40%);
  }
  a{
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    margin-bottom: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
  }
  .current{
    flex: 1;
    border-bottom-width: 0.4em;
    border-bottom-color: var(--border-color);
    padding-bottom: 0.202em;
  }
  a:hover{
    border-bottom-width: 0.4em;
    border-bottom-color: oklch(65% 50% 0);
    padding-bottom: 0.202em;
    background-color: color-mix(in oklch, var(--pink), canvas 85%);
  }
  .color-scheme{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
  }