body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
  }
  h1,h2,h3,h4,h5,h6{
    line-height: 1.1;
    text-wrap: balance;
  }
  h1{
    font-size: 400%;
  }
  h2{
    margin: 0;
    font-size: 200%;
  }
  h3{
    font-size: 150%;
  }
  .files > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }
  .files dt{
    grid-column: 1;
  }
  .files dd{
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;
    gap: 0.15em;
    padding-top: 0.6em;
    margin-left: 0;
  }
  .line {
    display: flex;
    width: 0.5em;
    aspect-ratio: 1;
    /* background: steelblue; */
    border-radius: 50%;
  }
  :global(body){
    max-width: min(120ch, 80vw);
  }
  #scrollytelling {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }
  
  /* feel free to play with this to make your scrolly more seemless with your plot */
  #scroll-container {
    grid-column: 1;
    position: relative;
    width: 95%;
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 50px;
  }
  
  #chart {
    grid-column: 2;
  }
  
  #spacer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none; /* transparent */
    pointer-events: none;
  }
  
  #items-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .item {
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #eee;
  }
  circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
    @starting-style{
      r: 0;
    }
  }
  circle:hover {
    transform: scale(1.5);
  }
  circle.selected {
    fill: #ff6b6b;
  }
  .slider{
    display: flex;
    flex: 1;
    align-items: baseline;
  }
  .slider time{
    margin-left: auto;
  }
  .tooltip{
    position: fixed;
    top: 1em;
    left: 1em;
    width: 25em;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    box-shadow:0.1ch;
    border-radius: 2px;
    backdrop-filter: 1em;
    padding: 0.5em;
  }
  @keyframes marching-ants {
    to {
      stroke-dashoffset: -8; /* 5 + 3 */
    }
  }
  
  .selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
  }
  dl{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  dl.info{
    display: grid;
    transition-duration: 500ms;
    transition-property: opacity, visibility;
  }
  dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
  }
  dt{
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 90%;
    color: gray;
  }
  dd{
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 150%;
  }
  .projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
  }
  :root{
    --pink: oklch(65% 50% 0);
    color-scheme: dark;
  }
  html{
    accent-color: var(--pink);
  }
  nav{
    display: flex;
    --border-color: oklch(50% 10% 200 / 40%);
  }
  a{
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    margin-bottom: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
  }
  .current{
    flex: 1;
    border-bottom-width: 0.4em;
    border-bottom-color: var(--border-color);
    padding-bottom: 0.202em;
  }
  nav a:hover{
    border-bottom-width: 0.4em;
    border-bottom-color: oklch(65% 50% 0);
    padding-bottom: 0.202em;
    background-color: color-mix(in oklch, var(--pink), canvas 85%);
  }
  .color-scheme{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
  }